body {
    min-width: 490px;
    background-color: #33312F;
    box-sizing: border-box;
    font-family: 'Open Sans',
        sans-serif;
    font: #33312F;
}

.about-intro {
    align-content: center;
    background-color: #FFFFFF;
    display: flex;
    font-size: 12px;
    padding-right: 30px;
    flex-wrap: wrap;
}

.about-intro h2 {
    color: rgb(120, 39, 25);
    font-family: 'Merriweather',
        serif;
    font-size: 6.5em;
    line-height: 1.5em;
    margin-left: 50px;
    text-align: center;
}

.about-intro p {
    width: 40%;
    align-content: center;
    line-height: 2;
    font-size: 16px;
    text-align: justify;
    padding-top: 30px;
    margin-left: 35%;
}


h4 {
    color: rgb(120, 39, 25);
    font-size: 30px;
    font-weight: bolder;
    /* text-align: justify; */
}

@media (min-width: 300px) and (max-width: 510px) {

    .about-intro h2 {
        margin: auto;
    }
    .about-intro p {
        width: 100% !important;
        margin-left: 20px;
    }

    .our-story-info {
        display: inline !important;
    }

    .our-story-text {
        margin: auto;
        width: 80% !important;
        padding: 10px;
        margin-left: 0;
    }

    .our-story-photo {
        position: relative !important;
        float: none !important;
    }

    .our-goal {
        padding-top: 20px;
        width: 100% !important;
    }
    .our-goal p {
        width: 80% !important;
    }

    .footer-sign-up {
        margin-right: 0;
        padding-right: 0;
    }
}

@media (min-width: 501px) and (max-width: 1160px) {
    .about-intro {
        display: inline-block;
    }
    .about-intro p {
        width: 80%;
        margin: auto;
        padding-bottom: 50px;
    }

    .our-story-text-p2 {
        padding: none;
        width: 100%;
        float: none;
        position: relative;
        /* display: none; */
    }

    .our-story-photo img{
        clear: both;
    }

    .our-goal p {
        width: 80% !important;
    }
}

/* Our Story */
.our-story {
    /* width: 100%; */
    background-color: #F6F5F4;
        padding-left: 50px;
    /* padding-left: 50px; */
}

.our-story-text h3 {
    /* display: block; */
    margin: auto;
    padding-bottom: 20px;
    width: 100%;
    color: rgb(120, 39, 25);
    font-family: 'Merriweather',
        serif;
    font-size: 2.5em;
    text-align: center;

}

.our-story-text {
    width: 50%;
}

.our-story hr {
    width: 80px;
    height: 2px;
    background-color: rgb(120, 39, 25);
    border: none;
    margin: auto;
    justify-content: center;
    margin-bottom: 20px;
}

.our-story-text p {
    text-align: justify;
    line-height: 2;
}

.our-story-info {
    display: flex;
    width: 100%;
    /* padding-left: 30px; */
    padding-top: 30px;


}

.our-story-photo {
    height: 100%;
    /* position: absolute; */
    float: right;
    /* display: flex; */
    /* padding-left: 10%; */
    margin-right: 0;
    /* padding-left: 30px; */
}

.our-story img {
    /* height: 700px; */
    width: 65%;
    margin-left: 10%;
}

/* Our Goal*/

.our-goal {
    background-color: rgb(246, 245, 244);
    width: 100%;
    /* height: 600px; */
    /* height: 500px; */
    margin: auto;
    /* padding-bottom: 30px; */
    position: relative;
    text-align: center;
    padding-bottom: 20px;
}

.our-goal h3 {
    /* display: block; */
    margin: auto;
    padding-bottom: 20px;
    width: 100%;
    color: rgb(120, 39, 25);
    font-family: 'Merriweather',
        serif;
    font-size: 2.5em;
    text-align: center;

}

.our-goal p {
    margin: auto;
    text-align: justify;
    line-height: 2;
    width: 40%;
}

.our-goal h4 {
    width: 40%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.our-goal hr {
    width: 80px;
    height: 2px;
    background-color: rgb(120, 39, 25);
    border: none;
    margin: auto;
    justify-content: center;
    margin-bottom: 20px;
}

.our-goal-background {
    background: linear-gradient(rgb(246, 245, 244, .95),
            rgb(246, 245, 244, .95)),
        url("../public/images/logomark-dark.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 36%;
    /* height: 500px; */
}