<header> 
    <div class="logo"> 

    </div>
    <ul class ="nav-bar">
        <li>Features</li>
        <li>Pricing</li>
        <li>FAQ</li>
        <li>About</li>
        <li>Contact</li>
        <li>Log In</li>
    </ul>
</header>